/*Dashboard CSS*/

/* Top Navigation Bar */
.navbar {
    background-color: #180453;
    padding: 12px 20px;
    z-index: 1030; /* Ensure it appears above other elements */
}

/* Adjust Navbar Links */
.navbar-nav .nav-link {
    color: #ffffff;
    padding: 10px 15px;
}

.navbar-nav .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Main Content */
.content {
    margin-top: 70px; /* Adjust for fixed navbar height */
    width: 100%;
    padding: 20px;
}

.btn-custom {
    background-color: #180453;
    border-color: #180453;
    color: #ffffff;
}

.btn-custom:hover {
background-color: #3d2874; 
border-color: #3d2874; 
color: #ffffff;
}
